body {
    margin: 0;
    padding: 0;
    background-image: url(/images/natural_paper.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noticia Text', serif;
}